*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #f5f5f5;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.players{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.player{
    width: 100%;
    max-width: 300px;
    background: #fff;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.player h2{
    width: 100%;
    height: 50px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    text-transform: uppercase;
}
.player__symbol{
    width: 100%;
    height: 100px;
    background: #252526;
    color: #f8f5f5;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board-container{
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252526;
    border-radius: 10px;
}
.board{
    width: 23rem;
    max-width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}
.board__cell{
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    border-radius: 10px;
    color: #252526;
}
.board__cell:hover{
    background: #f5f5f5;
}
.game-restart-btn{
    width: 12rem;
    height: 50px;
    margin-top: 20px;
    background: #252526;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.game-restart-btn:hover{
    background: #000;
}
.popup{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 999;
}
.popup p{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
}
.popup__restart-btn{
    width: 12rem;
    height: 50px;
    background: #252526;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.popup__winner{
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
}
.popup__winner span{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.popup.hide{
    display: none;
}